  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
    background-color: #a2cdff;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }

  .principal {
    background-color: rgb(0, 126, 168);
    height: 600px;
    width: 1000px;
    display: flex;
    border-radius: 20px;
        opacity: 0;
    animation-delay: 1.5s;
    animation: fadein 2.5s ease forwards;
  }

  .esquerda { 
    flex: 60%;                    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    color: white;
  }

  .direita {
    flex: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: #111111;
    padding: 40px;
  }

  .titulo {
    color: white;
    font-size: 64px;
    text-align: center;
  }

  .descricao {
    color: white;
    font-size: 22px; 
    text-align: center;
    max-width: 420px;
  }

  .icone {
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 150px;
  }
  .divform{
    display: flex;
    justify-content: center;
    align-items: center;
  }
.cadastro{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 250px;
    color: rgb(23, 87, 206);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
}

.formCadastro {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
}

.formCadastro input {
    width: 100%;
    padding: 15px;
    border: 1px solid rgb(0, 126, 168);
    border-radius: 15px;
    font-size: 20px;
    text-align: center;
}

.formCadastro button {
    width: 100%;
    padding: 15px;
    border: 1px solid rgb(0, 126, 168);
    border-radius: 15px;
    background-color: rgb(0, 126, 168);
    color: white;
    font-size: 22px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.formCadastro input:hover {
    background-color: #d6ebff;
    transform: scale(1.05);
}
.formCadastro button:hover {
    background-color: #053b6e;
    transform: scale(1.05);
    color: white;
}
.semconta{
    display: flex;
    justify-content: center;
    align-items: center;
}
.semconta:hover {
    color: blue;
    transform: scale(1.05);
}
@keyframes fadein {
  to {
    opacity: 1;
  }
}